.button-orange {
    background-color: var(--dark-orange);
    color: var(--white);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: var(--shadow-01);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.button-orange:hover {
    background-color: var(--medium-orange);
    color: white;
    transform: scale(1.1)
}