:root {
    /* Cores info categoria */
    /* Inundação */
    --color-ctg-bg-inundacao: #B7BFED;
    --color-ctg-tx-inundacao: #0E44B0;

    /* Incêndio */
    --color-ctg-bg-incendio: #FFD1D1;
    --color-ctg-tx-incendio: #B30000;

    /* Saúde */
    --color-ctg-bg-saude: #D1FFD1;
    --color-ctg-tx-saude: #107C10;

    /* Deslizamento */
    --color-ctg-bg-deslizamento: #FFEFC2;
    --color-ctg-tx-deslizamento: #A67C00;

    /* Terremoto */
    --color-ctg-bg-terremoto: #E0E0E0;
    --color-ctg-tx-terremoto: #4F4F4F;

    /* Tsunami */
    --color-ctg-bg-tsunami: #C2F0FF;
    --color-ctg-tx-tsunami: #007EA7;

    /* Calor extremo */
    --color-ctg-bg-calor-extremo: #FFD6A5;
    --color-ctg-tx-calor-extremo: #D14900;

    /* Crises humanitárias */
    --color-ctg-bg-crises-humanitarias: #F5CCE8;
    --color-ctg-tx-crises-humanitarias: #7B2D5A;

    /* Ciclone e furacão */
    --color-ctg-bg-ciclone-furacao: #D1E8FF;
    --color-ctg-tx-ciclone-furacao: #004C99;

    /* Cores info relevancia */
    /* Crítica */
    --color-rlv-bg-critica: #FFD2BA;
    --color-rlv-tx-critica: #D93D04;

    /* Alta */
    --color-rlv-bg-alta: #FFE8A3;
    --color-rlv-tx-alta: #D98600;

    /* Média */
    --color-rlv-bg-media: #D6F5FF;
    --color-rlv-tx-media: #007C91;

    /* Baixa */
    --color-rlv-bg-baixa: #E1F7D5;
    --color-rlv-tx-baixa: #3A8C16;

    /* Cores info modalidade */
    /* Modalidade - Presencial */
    --color-modalidade-bg-presencial: #EAF9D9;
    --color-modalidade-tx-presencial: #1D6B00;

    /* Modalidade - Remoto */
    --color-modalidade-bg-remoto: #D3E8FD;
    --color-modalidade-tx-remoto: #0B3D91;
}

.info__categoria,
.info__relevancia,
.info__modalidade {
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
}

.info__categoria,
.info__modalidade {
    border-radius: 15px;
}

.info__relevancia {
    border-radius: 8px;
}

.info__p {
    font-family: "Roboto", sans-serif;
    font-weight: var(--fw-bold);
    font-size: var(--fs-text-md);
}

/* INFO MODALIDADE */
[data-modalidade="Remoto"] .info__modalidade {
  background-color: var(--color-modalidade-bg-remoto);
  color: var(--color-modalidade-tx-remoto);
  border: 1px solid var(--color-modalidade-tx-remoto);
}

[data-modalidade="Presencial"] .info__modalidade {
  background-color: var(--color-modalidade-bg-presencial);
  color: var(--color-modalidade-tx-presencial);
  border: 1px solid var(--color-modalidade-tx-presencial);
}


    /* INFO CATEGORIA */
[data-categoria="educacao"] .info__categoria {
 background-color:rgb(228, 228, 19) ;
 color:rgb(214, 223, 197) ;   }

[data-categoria="vida_cotidiana"] .info__categoria  {
 background-color: orangered;
 color:rgb(255, 255, 255) ;   }

[ddata-categoria="direito_cidadania"] .info__categoria  {
 background-color:brown ;
 color:rgb(255, 255, 255) ;   }


 [data-categoria="moradia"] .info__categoria  {
 background-color:rgb(226, 143, 66) ;
 color:#fdfdfd ;   }

 [data-categoria="tecnologia"] .info__categoria  {   
    background-color:rgb(191, 241, 235) ;
 color:rgb(255, 255, 255) ;   }

 [data-categoria="transporte"] .info__categoria  { 
 background-color: yellowgreen;
 color:rgb(255, 255, 255) ;   }

 [data-categoria="financeiro"] .info__categoria  {
 background-color: gold;
 color:rgb(255, 255, 255) ;   }

 [data-categoria="animal"] .info__categoria  {
 background-color:rgb(243, 115, 136) ;
 color: rgb(255, 255, 255);   }

 [data-categoria="meio_ambiente"] .info__categoria  {
 background-color: green;
 color:rgb(255, 255, 255) ;   }

 [data-categoria="saude_mental"] .info__categoria  {
 background-color:grey ;
 color: white;   }

 [data-categoria="documentacao"] .info__categoria {
 background-color: burlywood;
 color:rgb(214, 197, 175) ;   }

 [data-categoria="comercio"] .info__categoria  {
 background-color: var(--color-ctg-tx-ciclone-furacao);
 color: white;   }

 [data-categoria="trabalho"] .info__categoria  {
 background-color:black ;
 color: white  }

 [data-categoria="saude"] .info__modalidade {
 background-color: blue;
 color: white;   }

[data-categoria="Inundação"] .info__categoria {
    background-color: var(--color-ctg-bg-inundacao);
    color: var(--color-ctg-tx-inundacao);
}

[data-categoria="Incêndio"] .info__categoria {
    background-color: var(--color-ctg-bg-incendio);
    color: var(--color-ctg-tx-incendio);
}

[data-categoria="Saúde"] .info__categoria {
    background-color: var(--color-ctg-bg-saude);
    color: var(--color-ctg-tx-saude);
}

[data-categoria="Deslizamento"] .info__categoria {
    background-color: var(--color-ctg-bg-deslizamento);
    color: var(--color-ctg-tx-deslizamento);
}

[data-categoria="Terremoto"] .info__categoria {
    background-color: var(--color-ctg-bg-terremoto);
    color: var(--color-ctg-tx-terremoto);
}

[data-categoria="Tsunami"] .info__categoria {
    background-color: var(--color-ctg-bg-tsunami);
    color: var(--color-ctg-tx-tsunami);
}

[data-categoria="Calor extremo"] .info__categoria {
    background-color: var(--color-ctg-bg-calor-extremo);
    color: var(--color-ctg-tx-calor-extremo);
}

[data-categoria="Crises humanitarias"] .info__categoria {
    background-color: var(--color-ctg-bg-crises-humanitarias);
    color: var(--color-ctg-tx-crises-humanitarias);
}

[data-categoria="Ciclone e furacão"] .info__categoria {
    background-color: var(--color-ctg-bg-ciclone-furacao);
    color: var(--color-ctg-tx-ciclone-furacao);
}

/* INFO RELEVANCIA */

[data-relevancia="Crítica"] .info__relevancia {
    background-color: var(--color-rlv-bg-critica);
    color: var(--color-rlv-tx-critica);
    border: solid 1px var(--color-rlv-tx-critica);
}

[data-relevancia="Alta"] .info__relevancia {
    background-color: var(--color-rlv-bg-alta);
    color: var(--color-rlv-tx-alta);
    border: solid 1px var(--color-rlv-tx-alta);
}

[data-relevancia="Média"] .info__relevancia {
    background-color: var(--color-rlv-bg-media);
    color: var(--color-rlv-tx-media);
    border: solid 1px var(--color-rlv-tx-media);
}

[data-relevancia="Baixa"] .info__relevancia {
    background-color: var(--color-rlv-bg-baixa);
    color: var(--color-rlv-tx-baixa);
    border: solid 1px var(--color-rlv-tx-baixa);
}