:root {
    /* Cores info categoria */
    /* Inundação */
    --color-ctg-bg-inundacao: #B7BFED;
    --color-ctg-tx-inundacao: #0E44B0;

    /* Incêndio */
    --color-ctg-bg-incendio: #FFD1D1;
    --color-ctg-tx-incendio: #B30000;

    /* Saúde */
    --color-ctg-bg-saude: #D1FFD1;
    --color-ctg-tx-saude: #107C10;

    /* Deslizamento */
    --color-ctg-bg-deslizamento: #FFEFC2;
    --color-ctg-tx-deslizamento: #A67C00;

    /* Terremoto */
    --color-ctg-bg-terremoto: #E0E0E0;
    --color-ctg-tx-terremoto: #4F4F4F;

    /* Tsunami */
    --color-ctg-bg-tsunami: #C2F0FF;
    --color-ctg-tx-tsunami: #007EA7;

    /* Calor extremo */
    --color-ctg-bg-calor-extremo: #FFD6A5;
    --color-ctg-tx-calor-extremo: #D14900;

    /* Crises humanitárias */
    --color-ctg-bg-crises-humanitarias: #F5CCE8;
    --color-ctg-tx-crises-humanitarias: #7B2D5A;

    /* Ciclone e furacão */
    --color-ctg-bg-ciclone-furacao: #D1E8FF;
    --color-ctg-tx-ciclone-furacao: #004C99;

    /* Educação */
    --color-ctg-bg-educacao: #faf1cf;
    --color-ctg-tx-educacao: #fcac00;

    /* Vida cotidiana */
    --color-ctg-bg-vida-cotidiana: #ff7b00;
    --color-ctg-tx-vida-cotidiana: #fefefe;

    /* Direito e cidadania */
    --color-ctg-bg-direito-cidadania: #9e501c;
    --color-ctg-tx-direito-cidadania: #fefefe;

    /* Moradia */
    --color-ctg-bg-moradia: #fcacf5;
    --color-ctg-tx-moradia: #66045e;

    /* Tecnologia */
    --color-ctg-bg-tecnologia: #4b4b4b;
    --color-ctg-tx-tecnologia: #c5c5c5;

    /* Transporte */
    --color-ctg-bg-transporte: #aff8da;
    --color-ctg-tx-transporte: #0f8a57;

    /* Financeiro */
    --color-ctg-bg-financeiro: #fac517;
    --color-ctg-tx-financeiro: #f0f0f0;

    /* Animal */
    --color-ctg-bg-animal: #e61d49;
    --color-ctg-tx-animal: #f0f0f0;

    /* Meio ambiente */
    --color-ctg-bg-meio-ambiente: #207a0e;
    --color-ctg-tx-meio-ambiente: #d2f5bd;

    /* Saúde mental */
    --color-ctg-bg-saude-mental: #bbbbbb;
    --color-ctg-tx-saude-mental: #1f1f1f;

    /* Documentação */
    --color-ctg-bg-documentacao: #ffd7b6;
    --color-ctg-tx-documentacao: #b95a0c;

    /* Comércio */
    --color-ctg-bg-comercio: #0182d8;
    --color-ctg-tx-comercio: #dddddd;

    /* Trabalho */
    --color-ctg-bg-trabalho: #000000;
    --color-ctg-tx-trabalho: #dddddd;

    /* Cores info relevancia */
    /* Crítica */
    --color-rlv-bg-critica: #FFD2BA;
    --color-rlv-tx-critica: #D93D04;

    /* Alta */
    --color-rlv-bg-alta: #FFE8A3;
    --color-rlv-tx-alta: #D98600;

    /* Média */
    --color-rlv-bg-media: #D6F5FF;
    --color-rlv-tx-media: #007C91;

    /* Baixa */
    --color-rlv-bg-baixa: #E1F7D5;
    --color-rlv-tx-baixa: #3A8C16;

    /* Cores info modalidade */
    /* Modalidade - Presencial */
    --color-modalidade-bg-presencial: #EAF9D9;
    --color-modalidade-tx-presencial: #1D6B00;

    /* Modalidade - Remoto */
    --color-modalidade-bg-remoto: #D3E8FD;
    --color-modalidade-tx-remoto: #0B3D91;
}

.info__categoria,
.info__relevancia,
.info__modalidade {
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
}

.info__categoria,
.info__modalidade {
    border-radius: 15px;
}

.info__relevancia {
    border-radius: 8px;
}

.info__p {
    font-family: "Roboto", sans-serif;
    font-weight: var(--fw-bold);
    font-size: var(--fs-text-md);
}

/* INFO MODALIDADE */
[data-modalidade="Remoto"] .info__modalidade {
    background-color: var(--color-modalidade-bg-remoto);
    color: var(--color-modalidade-tx-remoto);
    border: 1px solid var(--color-modalidade-tx-remoto);
}

[data-modalidade="Presencial"] .info__modalidade {
    background-color: var(--color-modalidade-bg-presencial);
    color: var(--color-modalidade-tx-presencial);
    border: 1px solid var(--color-modalidade-tx-presencial);
}


/* INFO CATEGORIA */

[data-categoria="Inundação"] .info__categoria {
    background-color: var(--color-ctg-bg-inundacao);
    color: var(--color-ctg-tx-inundacao);
}

[data-categoria="Incêndio"] .info__categoria {
    background-color: var(--color-ctg-bg-incendio);
    color: var(--color-ctg-tx-incendio);
}

[data-categoria="Saúde"] .info__categoria {
    background-color: var(--color-ctg-bg-saude);
    color: var(--color-ctg-tx-saude);
}

[data-categoria="Deslizamento"] .info__categoria {
    background-color: var(--color-ctg-bg-deslizamento);
    color: var(--color-ctg-tx-deslizamento);
}

[data-categoria="Terremoto"] .info__categoria {
    background-color: var(--color-ctg-bg-terremoto);
    color: var(--color-ctg-tx-terremoto);
}

[data-categoria="Tsunami"] .info__categoria {
    background-color: var(--color-ctg-bg-tsunami);
    color: var(--color-ctg-tx-tsunami);
}

[data-categoria="Calor extremo"] .info__categoria {
    background-color: var(--color-ctg-bg-calor-extremo);
    color: var(--color-ctg-tx-calor-extremo);
}

[data-categoria="Crises humanitarias"] .info__categoria {
    background-color: var(--color-ctg-bg-crises-humanitarias);
    color: var(--color-ctg-tx-crises-humanitarias);
}

[data-categoria="Ciclone e furacão"] .info__categoria {
    background-color: var(--color-ctg-bg-ciclone-furacao);
    color: var(--color-ctg-tx-ciclone-furacao);
}

[data-categoria="Educação"] .info__categoria {
    background-color: var(--color-ctg-bg-educacao);
    color: var(--color-ctg-tx-educacao);
}

[data-categoria="Vida Cotidiana"] .info__categoria {
    background-color: var(--color-ctg-bg-vida-cotidiana);
    color: var(--color-ctg-tx-vida-cotidiana);
}

[data-categoria="Direito Cidadania"] .info__categoria {
    background-color: var(--color-ctg-bg-direito-cidadania);
    color: var(--color-ctg-tx-direito-cidadania);
}


[data-categoria="Moradia"] .info__categoria {
    background-color: var(--color-ctg-bg-moradia);
    color: var(--color-ctg-tx-moradia);
}

[data-categoria="Tecnologia"] .info__categoria {
    background-color: var(--color-ctg-bg-tecnologia);
    color: var(--color-ctg-tx-tecnologia);
}

[data-categoria="Transporte"] .info__categoria {
    background-color: var(--color-ctg-bg-transporte);
    color: var(--color-ctg-tx-transporte);
}

[data-categoria="Financeiro"] .info__categoria {
    background-color: var(--color-ctg-bg-financeiro);
    color: var(--color-ctg-tx-financeiro);
}

[data-categoria="Animal"] .info__categoria {
    background-color: var(--color-ctg-bg-animal);
    color: var(--color-ctg-tx-animal);
}

[data-categoria="Meio ambiente"] .info__categoria {
    background-color: var(--color-ctg-bg-meio-ambiente);
    color: var(--color-ctg-tx-meio-ambiente);
}

[data-categoria="Saúde mental"] .info__categoria {
    background-color: var(--color-ctg-bg-saude-mental);
    color: var(--color-ctg-tx-saude-mental);
}

[data-categoria="Documentação"] .info__categoria {
    background-color: var(--color-ctg-bg-documentacao);
    color: var(--color-ctg-tx-documentacao);
}

[data-categoria="Comércio"] .info__categoria {
    background-color: var(--color-ctg-bg-comercio);
    color: var(--color-ctg-tx-comercio);
}

[data-categoria="Trabalho"] .info__categoria {
    background-color: var(--color-ctg-bg-trabalho);
    color: var(--color-ctg-tx-trabalho);
}

/* INFO RELEVANCIA */

[data-relevancia="Crítica"] .info__relevancia {
    background-color: var(--color-rlv-bg-critica);
    color: var(--color-rlv-tx-critica);
    border: solid 1px var(--color-rlv-tx-critica);
}

[data-relevancia="Alta"] .info__relevancia {
    background-color: var(--color-rlv-bg-alta);
    color: var(--color-rlv-tx-alta);
    border: solid 1px var(--color-rlv-tx-alta);
}

[data-relevancia="Média"] .info__relevancia {
    background-color: var(--color-rlv-bg-media);
    color: var(--color-rlv-tx-media);
    border: solid 1px var(--color-rlv-tx-media);
}

[data-relevancia="Baixa"] .info__relevancia {
    background-color: var(--color-rlv-bg-baixa);
    color: var(--color-rlv-tx-baixa);
    border: solid 1px var(--color-rlv-tx-baixa);
}