:root {
    /* ==== CORES ==== */
    --light-purple: #927CFF;
    --medium-purple: #7A38D9;
    --dark-purple: #432273;
    --light-orange: #F2AC57;
    --medium-orange: #DA6A2A;
    --dark-orange: #D93D04;
    --white: #fefefe;
    --black: #0C0C0C;
    --light-gray: #F2F2F2;

    /* ==== SHADOW ==== */
    --shadow-01: rgba(0, 0, 0, 0.06) 0 2px 8px;
    --shadow--02: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    /* ==== TIPOGRAFIA ==== */
    /* Font size | Títulos */
    --fs-heading-lg-xl: 2.375rem;
    --fs-heading-lg-lg: 2.25rem;
    --fs-heading-lg-md: 2rem;
    --fs-heading-lg-sm: 1.5rem;
    
    /* Font size | Texto */
    --fs-text-lg: 1rem;
    --fs-text-md: 0.875rem;
    --fs-text-sm: 0.75rem;

    /* ==== PESO DE FONTE ==== */
    --fw-extra-light: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}