* {
    box-sizing: border-box;
}

/* MAIN_cadastro */

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container */

.login-container {
    position: relative;
    height: 480px;
    width: 780px;
    box-shadow: 0 5px 20px #A0A0A0;
    overflow: hidden;
    border-radius: 10px;
}

.login-container.move .overlay-container {
    transform: translateX(0%);
}


/* Form */

.form-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.form {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 46px 0;
    transition: 1s;
    background-color: var(#F2F2F2);
}


.form-register {
    transform: translateX(-100%);
    z-index: -1;
    opacity: 0;
    transition: 1s;

}

.login-container.move .form-login {
    transform: translateX(100%);
    z-index: -1;
    opacity: 0;
}

.login-container.move .form-register {
    transform: translateX(0%);
    z-index: 1;
    opacity: 1;
}

.form-title-light {
    color: var(--light-gray);
}

/* Inputs */

.form-input-container {
    display: flex;
    flex-direction: column;
}

.form-input {
    width: 300px;
    height: 40px;
    padding: 10px 20px;
    border-style: none;
    background-color: var(--light-gray);
}

.input-container {
    position: relative;
    margin: 17px auto;
    width: 250px;
}

.input-container input {
    font-size: 15px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
}

.input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-container input:focus~.label,
.input-container input:valid~.label {
    top: -20px;
    font-size: 16px;
    color: var(--dark-purple);
}

.input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--dark-purple);
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.input-container input:focus~.underline,
.input-container input:valid~.underline {
    transform: scaleX(1);
}

.span-required {
    display: none;
    color: var(--dark-orange);
    font-size: 12px;
    margin: -12px 0 0 1px;
}

.span-required-login {
    display: none;
    color: var(--dark-orange);
    font-size: 12px;
    margin: -12px 0 0 1px;
}

/* Button */

.form-button {
    width: 140px;
    height: 40px;
    border-style: none;
    border-radius: 50px;
    border: 2px solid var(--dark-purple);
    background-color: var(--dark-purple);
    font-size: 1rem;
    font-weight: 800;
    color: var(--light-gray);
    cursor: pointer;
}

.form-button:hover {
    background-color: transparent;
    color: var(--dark-purple);
    transition: 0.5s;
}

.form-button-light {
    color: var(--white);
    border: 2px solid var(--white);
}

.form-button-overlay {
    width: 140px;
    height: 40px;
    border-style: none;
    border-radius: 50px;
    border: 2px solid var(--white);
    background-color: var(--white);
    font-size: 1rem;
    font-weight: 800;
    color: var(--dark-purple);
    cursor: pointer;
}

.form-button-overlay:hover {
    background-color: transparent;
    color: var(--white);
    transition: 0.5s;
}

/* Overlay */

.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--dark-purple);
    transform: translateX(100%);
    color: var(--white);
    text-align: center;
    transition: 1s;
    z-index: 10;

}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--dark-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    justify-content: space-evenly;
    transition: 1s;
}


.login-container.move .overlay:nth-child(2) {
    z-index: -1;
    opacity: 0;
}

/* Mobile text */
.mobile-text {
    display: none;
}


.input-colorido {
    color: var(--medium-green);
    font-size: 16px;
}

.input-colorido::placeholder {
    color: var(--light-gray);
}

.input-colorido:focus {
    color: var(--medium-blue);
}



@media (max-width:768px) {
    .overlay-container {
        display: none;
    }

    .form {
        width: 100%;
        justify-content: space-around;
    }

    .form-register {
        position: absolute;
        background-color: var(--dark-purple);
        color: var(--white);
        transform: translateX(100%);
    }

    .login-container.move .form-register {
        transform: translateX(0%);
    }

    .login-container {
        width: 75vw;
        height: 75vh;

    }

    .form-button {
        background-color: var(--dark-purpler);
        color: var(--white);
        border: 2px solid var(--white);
    }

    .mobile-text {
        display: block;
    }

    .mobile-text a {
        font-weight: 900;
        color: inherit;
        text-decoration: none;
    }

    .input-register input {
        color: var(--white);
    }

    .input-register .underline {
        background-color: var(--white);
    }

    .input-register input:focus~.label,
    .input-register input:valid~.label {
        color: var(--white);
    }

    .form-button:hover {
        background-color: var(--white);
        color: var(--dark-purple);
        border: 2px solid var(--dark-orange);
        transition: 0.5s;
    }

    .form-button-cadastrese:hover {
        background-color: var(--white);
        color: var(--dark-purple);
        transition: 0.5s;
    }


}

@media (max-width:480px) {
    .login-container {
        width: 100vw;
        height: 100vh;
        box-shadow: none;
    }

}