.primeiraSessao_inteira {
    width: 100%;
    min-height: auto;
    height: fit-content;
    padding: 20px;
    background-image: url(../../assets/img/index/imagem\ de\ fundo\ primeira\ sessao.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.alerta_banner {
    padding: 15px;
    background-color: #ffcec6;
    border-radius: 25px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 10px;
    color: var(--dark-purple);
}

.alerta_banner:hover {
    transform: scale(1.03);
}

.icones_banner_alerta {
    width: 25px;
    height: 25px;
    fill: var(--dark-purple);
}

.primeiraSessao_inicio {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 0 20px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.alinhamento_banners {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    align-items: stretch;
}

.banner_principal_ladoEsquerdo,
.mensagens_banner {
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.banner_principal_ladoEsquerdo {
    background-color: white;
    border-radius: 20px;
    padding: 25px;
    max-width: 600px;
    flex-direction: column;
}

.texto_banner_principal {
    text-align: left;
    line-height: 55px;
    align-items: top;
    margin: 0 0 5px 5px;
    color: var(--dark-purple);
    font-family: "Ubuntu", sans-serif;
    font-weight: var(--fw-bold);
    font-size: var(--fs-heading-lg-xl);
    text-transform: uppercase;
}

.texto_banner_principal_laranja {
    color: var(--medium-orange);
}

.texto_banner_principal_vermelho {
    color: var(--dark-orange);
}

.texto_alerta_banner_principal {
    color: var(--dark-purple);
}

.botao_cadastro {
    background-color: var(--white);
    color: var(--dark-purple);
    padding: 15px 20px 15px 20px;
    margin: 15px 25px 15px 15px;
    border: solid;
    border-color: var(--dark-purple);
    border-radius: 25px;
    box-shadow: var(--shadow-01);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}


.botao_cadastro:hover {
    background-color: var(--dark-purple);
    color: white;
    transform: scale(1.1)
}

.botao_saibaMais_texto {
    text-decoration: none;
    color: var(--dark-purple);
}

.icone_saibaMais {
    fill: var(--dark-purple);
}

#botoes_banner_principal {
    display: flex;
    justify-content: left;
    align-items: center;
}

.descricao_banner_principal {
    font-family: "Ubuntu", sans-serif;
    color: var(--black);
    font-size: 20px;
    text-align: left;
    margin: .8rem 0 .5rem 0;
    line-height: 30px;
}

.lista_banner_principal {
    color: var(--dark-orange);
    line-height: 30px;
    text-align: left;
    margin: .8rem 0 .5rem 0;
}

.svg_mensagem_audio_user {
    width: 50px;
    height: 50px;
    fill: var(--dark-purple);
}

.imagem_som_audioBanner {
    fill: var(--dark-purple);
}

.svg_mensagem_audio_play {
    width: 50px;
    height: 50px;
    fill: var(--dark-purple);
}

.svg_mensagem_audio_som {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    max-width: 120px;
    height: 100%;
    fill: var(--dark-purple);
}

.imagemBanner_mensagem_bannerPrincipal {
    width: 100%;
    max-width: 600px;
    border-radius: 25px;
    height: 300px;
    position: relative;
    z-index: 1;
    background-image: url(src/pages/home/../../assets/img/index/imagem_som_mensagem_inicio.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.imagem_mensagem_bannerPrincipal {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    display: block;
}

.emoji_balao {
    position: absolute;
    bottom: -12px;
    left: 12px;
    background: white;
    padding: 6px 10px;
    border-radius: 12px;
    font-size: 18px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.mensagens_banner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding: 0 16px;
}

.mensagens_banner_dois,
.mensagens_banner_um {
    background-color: var(--white);
    border-radius: 20px;
    padding: 16px;
    max-width: 60%;
    font-size: 14px;
    color: var(--dark-purple);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.mensagemAudio_banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 16px;
    background-color: var(--white);
    gap: 12px;
    width: 60%;
    margin-left: auto;
}

.estatistica_banner_principal {
    display: flex;
    justify-content: space-around;
    max-width: 700px;
    align-items: center;
    padding: 20px 0;
    color: var(--white);
    margin: 2rem auto 2rem auto;
    position: relative;
}

.estatistica_item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.estatistica_item strong {
    color: var(--dark-orange);
}

.estatistica_item span {
    font-size: 16px;
}

.primeiro_texto {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
    text-align: center;
}

.titulo_sobreProjeto {
    color: var(--dark-purple);
}

.primeiro_textoParagrafo {
    color: var(--black);
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
}

.tresCards_home {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 20px;
}

.card_home {
    background-color: var(--dark-purple);
    border-radius: 25px;
    width: 300px;
    padding: 20px 20px 20px 20px;
    color: var(--white);
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 270px;
    max-width: 320px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.icone_card {
    background-color: var(--dark-orange);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    display: flex;
}

.icone_card svg {
    fill: white;
    width: 20px;
    height: 20px;
}

.card_home h3 {
    margin-bottom: 15px;
}

.umCard_home {
    background: linear-gradient(to right, #432273, #BF2929);
    color: var(--white);
    border-radius: 25px;
    padding: 40px 20px;
    text-align: center;
    width: 100%;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
}

.umCard_home h4 {
    margin-bottom: 15px;
}

.umCard_home p {
    margin-bottom: 25px;
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}

.estatisticas_home {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.estatistica_item strong {
    color: var(--medium-orange);
}


.segundo_texto {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
    text-align: center;
    color: var(--black);
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
}

.lista_segundoTexto {
    padding: 15px 0;
}

.depoimentos_usuarios {
    color: var(--dark-purple);
    margin-top: 45px;
}

.subtitulo_laranja {
    color: var(--dark-orange);
}

.container_cards_depoimentos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px 20px;
}

.tresCard_depoimentos {
    width: 200px;
    text-align: left;
}

.imagem_container {
    width: 100%;
    height: auto;
}

.imagem_container img {
    width: 100%;
    border-radius: 16px;
}

.texto_depoimentos {
    margin-top: 25px;
    color: var(--black);
    text-align: left;
}

.texto_depoimentos_nome {
    font-family: "Ubuntu", sans-serif;
    font-weight: var(--fw-regular);
    font-size: var(--fs-heading-lg-sm);
    margin: .8rem 0 .5rem 0;
}

.titulo_sessao {
    color: var(--dark-purple);
}

.guia_plataforma {
    max-width: 800px;
    margin: 60px auto;
    text-align: left;
}

.textos_sobrePlataforma_paragrafos {
    padding: 0 20px;
    color: var(--black);
    margin: 20px 0 40px 0;
}

.titulo_sobrePlataforma {
    font-family: "Ubuntu", sans-serif;
    font-weight: var(--fw-regular);
    font-size: var(--fs-heading-lg-sm);
    margin: .8rem 0 .5rem 0;
    color: var(--dark-purple);
}


.subtitulo_ultimosCards {
    max-width: 1200px;
    padding: 0 20px;
    text-align: center;
    color: var(--black);
    text-align: center;
    max-width: 750px;
    margin: 20px auto 40px auto;
}

.alinhamento_ultimosCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
}

.ultimos_dois_cards {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 10px;
    margin-bottom: 20px;
}

.card_individual {
    background-color: var(--white);
    border-radius: 25px;
    width: 300px;
    padding: 20px 20px 20px 20px;
    color: var(--white);
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 270px;
    max-width: 320px;
    position: relative;
    align-items: center;
    justify-content: center;
}


.titulo_ultimosCards_roxo {
    color: var(--dark-purple);
    text-align: center;
}

.titulo_ultimosCards_laranja {
    color: var(--dark-orange);
    text-align: center;
}

.paragrafo_ultimosCards {
    color: var(--black);
    text-align: center;
    margin: 15px;
}

.icone_ultimosCards_roxo {
    background-color: var(--dark-purple);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    display: flex;
}

.icone_ultimosCards_laranja {
    background-color: var(--dark-orange);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    display: flex;
}


.btn_roxo_ultimosCards {
    background-color: var(--dark-purple);
    color: var(--white);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: var(--shadow-01);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    font-family: "Roboto", sans-serif;
    font-weight: var(--fw-regular);
    font-size: var(--fs-text-lg);
}

.btn_roxo_ultimosCards:hover {
    background-color: var(--medium-purple);
    color: white;
    transform: scale(1.1)
}

.btn_laranja_ultimosCards {
    font-family: "Roboto", sans-serif;
    font-weight: var(--fw-regular);
    font-size: var(--fs-text-lg);
    background-color: var(--dark-orange);
    color: var(--white);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: var(--shadow-01);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.btn_laranja_ultimosCards:hover {
    background-color: var(--medium-orange);
    color: white;
    transform: scale(1.1)
}

.alerta_banner_final {
    width: 400px;
    padding: 10px;
    background-color: #ffcec6;
    border-radius: 25px;
}

.texto_alerta_banner_final {
    color: var(--dark-purple);
    padding: 5px;
    border-radius: 20px;
    text-align: center;
}

@media (max-width: 768px) {

    .banner_principal_ladoEsquerdo {
        max-width: 1100px;
        width: 100%;
        padding: 20px;
        height: fit-content;
    }

    .primeiraSessao_inteira {
        padding: 10px;
        background-position: center top;
        background-size: cover;
    }

    .primeiraSessao_inicio {
        padding: 0 10px;
        margin-top: 40px;
        margin-bottom: 40px;
        gap: 20px;
    }

    .alerta_banner {
        margin: 0 auto;
        display: flex;
    }

    .texto_banner_principal,
    .titulo_sessao {
        font-size: 1.9rem;
    }

    .titulo_sobrePlataforma {
        font-size: 1.5rem;
    }

    .subtitulo_laranja,
    .titulo_sobrePlataforma,
    .titulo_sessao {
        padding: 0 15px;
    }

    .estatisticas_home {
        flex-direction: column;
        gap: 20px;
    }

    .umCard_home {
        border-radius: 0;
        width: 100vw;
        margin-left: 0;
        margin-right: 0;
        border-left: none;
        border-right: none;
    }

    .mensagens_banner {
        display: none;
        padding: 0 12px;
        align-items: center;
    }

    .mensagens_banner_um,
    .mensagens_banner_dois,
    .mensagemAudio_banner {
        width: 100%;
        max-width: 100%;
    }

}

@media (min-width: 1200px) {
    .titulo_sobrePlataforma {
        font-size: 1.8rem;
    }
}