@import url('../style/vendor/reset.css');
@import url('../style/components/variables.css');
@import url('../style/components/typografy.css');
@import url('../style/components/button.css');

html, body { 
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light-gray);
  padding-top: calc(var(--header-height) + var(--alert-emergencias-ativas-height));
}